include LICENSE
include README

exclude tox.ini
exclude .flake8
exclude .travis.ylm
recursive-exclude tests *
recursive-exclude docs *
recursive-exclude res *
recursive-exclude benchmark *
recursive-exclude bm_results *
recursive-exclude profiling *