include LICENSE
include README
recursive-include docs *.bat
recursive-include docs *.pdf
recursive-include docs *.py
recursive-include docs *.rst
recursive-include docs Makefile
recursive-include tests *.py
recursive-include tests *.txt
